
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>
<table>
    <thead>
    <tr>
        <th>
            Pizza Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>
